
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container2" style="margin: -244px 0px 0px 298px">
    <h4>Usuarios</h4>
    <div class="row">
        <div class="input-field col-sm-1 s0">
            <a asp-area="Usuarios" asp-page="/Registrar/Registrar" class="waves-effect waves-light btn">
            Register</a>
        </div>
    </div>
</div>
